@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
 
  body, html {
    @apply min-h-screen bg-slate-50
  }

}


@layer utilities {
  .fade-out {
  animation: fadeOut 0.5s ease-in-out;
}

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .hidden {
    display: none;
  }

}